<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>assassin/monster_assassin_run_0047.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{67,41}}</string>
        <key>offset</key>
        <string>{2,15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,12},{67,41}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,0},{65,44}}</string>
        <key>offset</key>
        <string>{-2,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,20},{65,44}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0048.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,41},{65,41}}</string>
        <key>offset</key>
        <string>{2,15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,12},{65,41}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0046.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{64,48}}</string>
        <key>offset</key>
        <string>{1.5,12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,11},{64,48}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0045.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,44},{64,47}}</string>
        <key>offset</key>
        <string>{-0.5,14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,10},{64,47}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0044.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{63,42}}</string>
        <key>offset</key>
        <string>{-2,15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,11},{63,42}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{62,44}}</string>
        <key>offset</key>
        <string>{-4.5,13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,12},{62,44}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{62,43}}</string>
        <key>offset</key>
        <string>{-1.5,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,20},{62,43}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{62,41}}</string>
        <key>offset</key>
        <string>{1.5,19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,8},{62,41}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,0},{61,44}}</string>
        <key>offset</key>
        <string>{-2,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,21},{61,44}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,41},{60,52}}</string>
        <key>offset</key>
        <string>{-4.5,17.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,4},{60,52}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,43},{60,49}}</string>
        <key>offset</key>
        <string>{-5.5,14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,9},{60,49}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,44},{60,48}}</string>
        <key>offset</key>
        <string>{2.5,6.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,17},{60,48}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,48},{60,43}}</string>
        <key>offset</key>
        <string>{0.5,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,20},{60,43}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,91},{59,46}}</string>
        <key>offset</key>
        <string>{1,19.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,5},{59,46}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,93},{59,42}}</string>
        <key>offset</key>
        <string>{3,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,6},{59,42}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{39,59}}</string>
        <key>offset</key>
        <string>{2,13}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{30,5},{39,59}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,135},{38,59}}</string>
        <key>offset</key>
        <string>{0.5,14}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{29,4},{38,59}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,163},{35,59}}</string>
        <key>offset</key>
        <string>{0,14}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{30,4},{35,59}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,92},{58,43}}</string>
        <key>offset</key>
        <string>{3.5,19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,7},{58,43}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,92},{58,42}}</string>
        <key>offset</key>
        <string>{-5.5,12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,14},{58,42}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,134},{58,39}}</string>
        <key>offset</key>
        <string>{-3.5,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,17},{58,39}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,135},{57,44}}</string>
        <key>offset</key>
        <string>{3,17.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,8},{57,44}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0034.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,137},{57,44}}</string>
        <key>offset</key>
        <string>{-6,12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,13},{57,44}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,173},{57,39}}</string>
        <key>offset</key>
        <string>{-4,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,16},{57,39}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{55,56}}</string>
        <key>offset</key>
        <string>{-4,19.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,0},{55,56}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,0},{56,54}}</string>
        <key>offset</key>
        <string>{-3.5,15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,5},{56,54}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0035.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,44},{56,50}}</string>
        <key>offset</key>
        <string>{-5.5,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,11},{56,50}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,94},{49,56}}</string>
        <key>offset</key>
        <string>{3,9.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{26,10},{49,56}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0033.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,143},{56,40}}</string>
        <key>offset</key>
        <string>{-4.5,13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,14},{56,40}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,183},{55,42}}</string>
        <key>offset</key>
        <string>{4,16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,10},{55,42}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,93},{54,53}}</string>
        <key>offset</key>
        <string>{-2.5,18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,3},{54,53}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,146},{51,54}}</string>
        <key>offset</key>
        <string>{-1,17.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{21,3},{51,54}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,173},{47,54}}</string>
        <key>offset</key>
        <string>{-1,10.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{23,10},{47,54}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0031.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,220},{53,45}}</string>
        <key>offset</key>
        <string>{-4,13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,12},{53,45}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0038.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,179},{53,44}}</string>
        <key>offset</key>
        <string>{-6,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,14},{53,44}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0039.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,181},{53,42}}</string>
        <key>offset</key>
        <string>{-6,13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,13},{53,42}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0036.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,212},{51,52}}</string>
        <key>offset</key>
        <string>{-4,9.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{18,12},{51,52}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0030.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,253},{52,44}}</string>
        <key>offset</key>
        <string>{-5.5,13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,12},{52,44}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0043.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,197},{52,42}}</string>
        <key>offset</key>
        <string>{-3.5,14.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,12},{52,42}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0037.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,239},{51,48}}</string>
        <key>offset</key>
        <string>{-3,9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,14},{51,48}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0049.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,223},{51,43}}</string>
        <key>offset</key>
        <string>{1,15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,11},{51,43}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0032.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,265},{51,40}}</string>
        <key>offset</key>
        <string>{-3,13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,14},{51,40}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,297},{50,50}}</string>
        <key>offset</key>
        <string>{6.5,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,15},{50,50}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,223},{47,50}}</string>
        <key>offset</key>
        <string>{9,7.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{33,15},{47,50}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0041.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,223},{35,48}}</string>
        <key>offset</key>
        <string>{-1,12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,11},{35,48}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,270},{50,45}}</string>
        <key>offset</key>
        <string>{5.5,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,13},{50,45}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,265},{50,44}}</string>
        <key>offset</key>
        <string>{7.5,12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,13},{50,44}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0040.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,309},{41,47}}</string>
        <key>offset</key>
        <string>{-1,14}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{26,10},{41,47}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>assassin/monster_assassin_run_0042.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,266},{39,44}}</string>
        <key>offset</key>
        <string>{-2,14.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{26,11},{39,44}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>lesser.png</string>
      <key>size</key>
      <string>{499,350}</string>
      <key>textureFileName</key>
      <string>lesser</string>
    </dict>
  </dict>
</plist>
