<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>giant/monster_giant_run_0063.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{85,96}}</string>
        <key>offset</key>
        <string>{2,26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,3},{85,96}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0048.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{88,95}}</string>
        <key>offset</key>
        <string>{1.5,26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,4},{88,95}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0049.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,0},{86,93}}</string>
        <key>offset</key>
        <string>{0.5,27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,4},{86,93}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,191},{78,91}}</string>
        <key>offset</key>
        <string>{2.5,30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,2},{78,91}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0055.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,282},{65,90}}</string>
        <key>offset</key>
        <string>{4,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,3},{65,90}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0050.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,372},{81,89}}</string>
        <key>offset</key>
        <string>{0,29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,4},{81,89}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,282},{67,89}}</string>
        <key>offset</key>
        <string>{2,28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,5},{67,89}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0054.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,191},{64,89}}</string>
        <key>offset</key>
        <string>{6.5,32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,1},{64,89}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0046.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,93},{54,89}}</string>
        <key>offset</key>
        <string>{4.5,29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33,4},{54,89}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{66,88}}</string>
        <key>offset</key>
        <string>{3.5,27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,6},{66,88}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0034.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,461},{64,88}}</string>
        <key>offset</key>
        <string>{6.5,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,4},{64,88}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0047.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,549},{62,88}}</string>
        <key>offset</key>
        <string>{2.5,30.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,3},{62,88}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0035.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,637},{59,88}}</string>
        <key>offset</key>
        <string>{8,28.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,5},{59,88}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0036.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,725},{54,88}}</string>
        <key>offset</key>
        <string>{10.5,27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39,6},{54,88}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0045.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,813},{52,88}}</string>
        <key>offset</key>
        <string>{7.5,26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,7},{52,88}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0051.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,901},{75,87}}</string>
        <key>offset</key>
        <string>{-1,31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,3},{75,87}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,813},{70,87}}</string>
        <key>offset</key>
        <string>{4.5,31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,3},{70,87}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0033.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,725},{66,87}}</string>
        <key>offset</key>
        <string>{3.5,31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,3},{66,87}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,725},{63,87}}</string>
        <key>offset</key>
        <string>{6,27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,7},{63,87}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0037.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,725},{53,87}}</string>
        <key>offset</key>
        <string>{7,28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,6},{53,87}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0044.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,725},{53,87}}</string>
        <key>offset</key>
        <string>{10,24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39,10},{53,87}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0064.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,637},{70,86}}</string>
        <key>offset</key>
        <string>{0.5,22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,12},{70,86}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,637},{69,86}}</string>
        <key>offset</key>
        <string>{7,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,5},{69,86}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0032.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,549},{68,86}}</string>
        <key>offset</key>
        <string>{2.5,31.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,3},{68,86}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0053.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,549},{66,86}}</string>
        <key>offset</key>
        <string>{5.5,33.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,1},{66,86}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0059.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,461},{66,86}}</string>
        <key>offset</key>
        <string>{7.5,27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,7},{66,86}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0042.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,461},{63,86}}</string>
        <key>offset</key>
        <string>{8,23.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,11},{63,86}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0038.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,461},{54,86}}</string>
        <key>offset</key>
        <string>{4.5,28.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33,6},{54,86}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0079.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,547},{71,85}}</string>
        <key>offset</key>
        <string>{1,25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,10},{71,85}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0071.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,371},{67,85}}</string>
        <key>offset</key>
        <string>{3,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,12},{67,85}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0043.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,280},{55,85}}</string>
        <key>offset</key>
        <string>{11,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39,12},{55,85}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0041.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,632},{67,84}}</string>
        <key>offset</key>
        <string>{5,25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,10},{67,84}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0072.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,632},{67,84}}</string>
        <key>offset</key>
        <string>{4,22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,13},{67,84}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0039.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,632},{60,83}}</string>
        <key>offset</key>
        <string>{4.5,28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,8},{60,83}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0052.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,365},{74,82}}</string>
        <key>offset</key>
        <string>{2.5,33.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{21,3},{74,82}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0065.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,365},{71,82}}</string>
        <key>offset</key>
        <string>{0,22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,14},{71,82}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0040.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,365},{67,82}}</string>
        <key>offset</key>
        <string>{3,26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,10},{67,82}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,182},{69,81}}</string>
        <key>offset</key>
        <string>{4,22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,15},{69,81}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,88},{68,81}}</string>
        <key>offset</key>
        <string>{0.5,22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,15},{68,81}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0073.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{67,81}}</string>
        <key>offset</key>
        <string>{4,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,14},{67,81}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0078.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,447},{71,80}}</string>
        <key>offset</key>
        <string>{2,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,8},{71,80}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0070.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,263},{69,80}}</string>
        <key>offset</key>
        <string>{1,27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,10},{69,80}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,169},{66,80}}</string>
        <key>offset</key>
        <string>{7.5,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,16},{66,80}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0074.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,81},{68,79}}</string>
        <key>offset</key>
        <string>{4.5,24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,14},{68,79}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0031.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{65,79}}</string>
        <key>offset</key>
        <string>{2,22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,16},{65,79}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0030.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,527},{63,78}}</string>
        <key>offset</key>
        <string>{6,21.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,17},{63,78}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,447},{77,72}}</string>
        <key>offset</key>
        <string>{-1,22.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,19},{77,72}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0066.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,524},{71,77}}</string>
        <key>offset</key>
        <string>{0,25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,14},{71,77}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0077.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,249},{71,77}}</string>
        <key>offset</key>
        <string>{3,30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,9},{71,77}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,160},{71,76}}</string>
        <key>offset</key>
        <string>{4,23.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,16},{71,76}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0069.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,79},{71,76}}</string>
        <key>offset</key>
        <string>{0,28.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,11},{71,76}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0075.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,0},{70,76}}</string>
        <key>offset</key>
        <string>{4.5,26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,13},{70,76}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,236},{66,76}}</string>
        <key>offset</key>
        <string>{8.5,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{31,19},{66,76}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,155},{75,75}}</string>
        <key>offset</key>
        <string>{-1,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,20},{75,75}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,76},{75,74}}</string>
        <key>offset</key>
        <string>{1,23.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,17},{75,74}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,0},{75,74}}</string>
        <key>offset</key>
        <string>{0,19.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{18,21},{75,74}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,75},{75,73}}</string>
        <key>offset</key>
        <string>{-3,24}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{15,17},{75,73}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,0},{62,75}}</string>
        <key>offset</key>
        <string>{8.5,20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33,20},{62,75}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,312},{69,74}}</string>
        <key>offset</key>
        <string>{6,23.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,17},{69,74}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,230},{74,68}}</string>
        <key>offset</key>
        <string>{-2.5,24.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,19},{74,68}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,151},{73,71}}</string>
        <key>offset</key>
        <string>{2,20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{21,22},{73,71}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0068.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,386},{71,73}}</string>
        <key>offset</key>
        <string>{-1,29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,12},{71,73}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,459},{65,73}}</string>
        <key>offset</key>
        <string>{8,22}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{31,19},{65,73}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0076.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,304},{71,73}}</string>
        <key>offset</key>
        <string>{4,30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,11},{71,73}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,224},{70,73}}</string>
        <key>offset</key>
        <string>{-0.5,24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,17},{70,73}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,150},{71,72}}</string>
        <key>offset</key>
        <string>{-1,22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,19},{71,72}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,75},{72,71}}</string>
        <key>offset</key>
        <string>{-1.5,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{18,17},{72,71}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,0},{71,72}}</string>
        <key>offset</key>
        <string>{6,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,21},{71,72}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0067.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,0},{71,72}}</string>
        <key>offset</key>
        <string>{-1,27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,14},{71,72}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,377},{68,72}}</string>
        <key>offset</key>
        <string>{-3.5,22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,19},{68,72}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,297},{72,66}}</string>
        <key>offset</key>
        <string>{-3.5,22.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,22},{72,66}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,222},{72,65}}</string>
        <key>offset</key>
        <string>{-3.5,24}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{16,21},{72,65}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,988},{72,64}}</string>
        <key>offset</key>
        <string>{0.5,23.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{20,22},{72,64}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1060},{71,69}}</string>
        <key>offset</key>
        <string>{-1,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,18},{71,69}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,988},{71,69}}</string>
        <key>offset</key>
        <string>{0,22}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{20,21},{71,69}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,900},{71,69}}</string>
        <key>offset</key>
        <string>{1,24}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{21,19},{71,69}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,812},{68,71}}</string>
        <key>offset</key>
        <string>{-1.5,25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,17},{68,71}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1131},{71,63}}</string>
        <key>offset</key>
        <string>{1,25}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{21,21},{71,63}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1202},{69,69}}</string>
        <key>offset</key>
        <string>{-4,22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,21},{69,69}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
      <key>giant/monster_giant_run_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,1131},{66,68}}</string>
        <key>offset</key>
        <string>{-2.5,25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,18},{66,68}}</string>
        <key>sourceSize</key>
        <string>{111,155}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>captain.png</string>
      <key>size</key>
      <string>{749,1271}</string>
      <key>textureFileName</key>
      <string>captain</string>
    </dict>
  </dict>
</plist>
