<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>dragon/monster_dragon_run_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{52,96}}</string>
        <key>offset</key>
        <string>{0,26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,3},{52,96}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{52,96}}</string>
        <key>offset</key>
        <string>{0,26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,3},{52,96}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{52,95}}</string>
        <key>offset</key>
        <string>{0,26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,4},{52,95}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,287},{52,94}}</string>
        <key>offset</key>
        <string>{0,26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,4},{52,94}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{52,94}}</string>
        <key>offset</key>
        <string>{0,25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,5},{52,94}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,475},{93,72}}</string>
        <key>offset</key>
        <string>{-8.5,29.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,72}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,0},{93,71}}</string>
        <key>offset</key>
        <string>{-6.5,31}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,11},{93,71}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,93},{92,71}}</string>
        <key>offset</key>
        <string>{-5,35}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{4,7},{92,71}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,185},{70,92}}</string>
        <key>offset</key>
        <string>{-6,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,2},{70,92}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,277},{69,92}}</string>
        <key>offset</key>
        <string>{-6.5,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,2},{69,92}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,369},{59,92}}</string>
        <key>offset</key>
        <string>{-0.5,26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,5},{59,92}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,568},{91,76}}</string>
        <key>offset</key>
        <string>{-9.5,31.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,8},{91,76}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,461},{72,90}}</string>
        <key>offset</key>
        <string>{-5,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,3},{72,90}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,369},{89,68}}</string>
        <key>offset</key>
        <string>{-4.5,36.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{6,7},{89,68}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,277},{88,78}}</string>
        <key>offset</key>
        <string>{-9,33.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{2,5},{88,78}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,185},{56,88}}</string>
        <key>offset</key>
        <string>{0,25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,8},{56,88}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,365},{72,87}}</string>
        <key>offset</key>
        <string>{-3,32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,2},{72,87}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,365},{87,70}}</string>
        <key>offset</key>
        <string>{-3.5,38.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{8,4},{87,70}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{52,87}}</string>
        <key>offset</key>
        <string>{0,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,11},{52,87}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,87},{86,76}}</string>
        <key>offset</key>
        <string>{-7,34.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{5,5},{86,76}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{86,75}}</string>
        <key>offset</key>
        <string>{-5,36}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{7,4},{86,75}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,173},{86,73}}</string>
        <key>offset</key>
        <string>{-4,38}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{8,3},{86,73}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,86},{71,86}}</string>
        <key>offset</key>
        <string>{-3.5,30.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,4},{71,86}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{70,86}}</string>
        <key>offset</key>
        <string>{-5,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,5},{70,86}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,0},{52,86}}</string>
        <key>offset</key>
        <string>{0,23.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,11},{52,86}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,259},{74,85}}</string>
        <key>offset</key>
        <string>{-4,29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,6},{74,85}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,172},{52,85}}</string>
        <key>offset</key>
        <string>{0,22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,13},{52,85}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,86},{74,84}}</string>
        <key>offset</key>
        <string>{-3,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,6},{74,84}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,257},{73,84}}</string>
        <key>offset</key>
        <string>{-2.5,30.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,5},{73,84}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,170},{73,83}}</string>
        <key>offset</key>
        <string>{-2.5,30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,6},{73,83}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0049.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,86},{52,83}}</string>
        <key>offset</key>
        <string>{0,21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,15},{52,83}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0043.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{60,82}}</string>
        <key>offset</key>
        <string>{0,23.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,13},{60,82}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0042.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,82},{54,82}}</string>
        <key>offset</key>
        <string>{0,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,16},{54,82}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0040.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,0},{52,82}}</string>
        <key>offset</key>
        <string>{0,17.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,19},{52,82}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0041.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,659},{52,82}}</string>
        <key>offset</key>
        <string>{0,18.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,18},{52,82}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0030.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,741},{73,81}}</string>
        <key>offset</key>
        <string>{-7.5,18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,19},{73,81}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0039.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,659},{71,81}}</string>
        <key>offset</key>
        <string>{-6.5,21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,16},{71,81}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0044.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,551},{58,81}}</string>
        <key>offset</key>
        <string>{0,27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,10},{58,81}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0045.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,822},{52,81}}</string>
        <key>offset</key>
        <string>{0,29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,8},{52,81}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0032.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,903},{73,80}}</string>
        <key>offset</key>
        <string>{-6.5,22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,15},{73,80}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0033.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,822},{72,80}}</string>
        <key>offset</key>
        <string>{-5,26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,11},{72,80}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0046.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,740},{52,80}}</string>
        <key>offset</key>
        <string>{0,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,8},{52,80}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0048.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,632},{52,80}}</string>
        <key>offset</key>
        <string>{0,25.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,12},{52,80}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0031.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,551},{73,79}}</string>
        <key>offset</key>
        <string>{-7.5,19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,19},{73,79}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0047.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,458},{52,79}}</string>
        <key>offset</key>
        <string>{0,29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,9},{52,79}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0034.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,458},{72,78}}</string>
        <key>offset</key>
        <string>{-4,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,9},{72,78}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0038.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,452},{70,77}}</string>
        <key>offset</key>
        <string>{-6,26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,13},{70,77}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0035.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,341},{73,76}}</string>
        <key>offset</key>
        <string>{-3.5,31.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,8},{73,76}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0037.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,253},{70,73}}</string>
        <key>offset</key>
        <string>{-5,29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,12},{70,73}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
      <key>dragon/monster_dragon_run_0036.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,169},{72,72}}</string>
        <key>offset</key>
        <string>{-4,30.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,11},{72,72}}</string>
        <key>sourceSize</key>
        <string>{110,155}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>elite.png</string>
      <key>size</key>
      <string>{485,983}</string>
      <key>textureFileName</key>
      <string>elite</string>
    </dict>
  </dict>
</plist>
